<!-- MAIN CONTENT -->
<div style="margin-top: 180px;
margin-left: 20px; display:inline-block">
<div id="main-content">
        <div>
            <!--span class="sp"> Notre philosophie.Notre travail consiste à aider chaque entreprise à comprendre son marché, marquer son territoire face à la concurrence, séduire le public par l'attraction de la marque ou motiver le stagiaire sur le projet d'entreprise. </span>
            <br /-->
            <p>{{ 'header.title' | translate }} {{title}}</p>
        </div>
    </div></div>

    

<!-- END MAIN CONTENT -->